@import ui

$toolbarHeight = 50px
$sidebarWidth  = 250px

body
  absolute: all
  overflow: hidden

ul
  margin: 0
  padding: 0

#toolbar
  absolute: top left right
  height: $toolbarHeight
  background: GRAYDARK
  li
    display: inline-block
    padding: 0 10px
    color: WHITE
    line-height: $toolbarHeight
    cursor: pointer
    user-select: none
    &:hover
      background: GRAY
    &.active
      background: lighten(GRAY,20%)
  
#sidebar
  absolute: top $toolbarHeight left bottom
  width: $sidebarWidth
  background: GRAYLIGHT
  li
    display: block
    padding-left: 10px
    line-height: 2em
    cursor: pointer
    user-select: none
    text-shadow: 0 1px 0 lighten(GRAYLIGHT,25%)
    &.active
      font-weight:bold
      background: lighten(GRAYLIGHT,50%)
    &:hover
      background: darken(GRAYLIGHT,20%)
  
#content-view
  absolute: top $toolbarHeight left $sidebarWidth right bottom
  user-select: none
  cursor: default
  li
    absolute: all
    display: none
    text-align: center
    padding-top: 200px
    font-size: 96px
    list-style none
    text-shadow: 0 1px 0 WHITE
    background: #ddd
    &.active
      display: block
      
.modal-backdrop
  display: none
  absolute: all
  z-index: Z_MODAL_BACKDROP
  background: rgba(WHITE,.2)
  user-select: none
  cursor: default
  &.active
    display: block
      
.modal-holder-wrap
  center-block()
  vcenter-block-wrap()

.modal-holder
  vcenter-block()

.modal
  user-select: none
  display: none
  position: relative
  z-index: Z_MODAL
  box-shadow: 0 5px 16px rgba(BLACK,.75)
  &.active
    display: block
  .x
    absolute: top right 4px
    display: block
    text-decoration: none
    color: GRAY
    font-size: 16px
    font-weight: bold
    text-shadow: 0px 1px 0px rgba(255,255,255,70%)
    &:before
      content: "×"
    &:hover
      color: BLACK
      
#modal1
  padding: 10px
  size: 320px 240px
  background: GRAYLIGHTER
  
#modal2
  padding: 10px
  size: 480px 320px
  background: GRAYLIGHTER
  
button-base()
  display: inline-block
  position: relative
  user-select: none
  cursor: pointer
  text-decoration: none
  line-height: normal
  font-smoothing: antialiased

.button
  button-base()
  padding: 7px 16px 
  color: GRAYLIGHTER
  background: GRAYDARK
  &:hover
    color: GRAYDARK
    background: GRAYLIGHT
  &:active, &.active
    color: BLACK
    background: darken(GRAYLIGHTER,20%)
    
    
.carousel
  absolute: top 10px left 10px bottom 10px right 10px
  overflow: hidden  
  .slide-list
    absolute: top 0 left 0
  .slide
    position: relative
    display: none
    transition: left .3s ease-in-out
  .active,.next,.prev 
    display: block
  .active
   left: 0
  .next, .prev
   position: absolute
   top: 0
   width: 100%
  .next
    left: 100%
  .prev
    left: -100%
  .next.left, .prev.right 
    left: 0
  .active.left
    left: -100%
  .active.right
    left: 100%
